
.wrap {
    display: flex;
    width: 99vw;
    height: 200px;
    justify-content: space-evenly;
}

.child {
    width: 75vw;
    text-align: center;
    position: fixed;
    height: 150px;
}

.left {
    transform: translateX(-80vw);
}

.mid {
    left:auto;
    right: auto;
}

.right {
    transform: translateX(80vw);
}

.last {
    transform: translateX(-160vw);
}

.other {
    transform: translateX(180vw);
}